
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="../css/login.css">
@* Julius,
    1.  kanns isch des schu hässlich, wenn ma jedes mal, wenn ma a view erstellen will,
        3 divs erstellen muas (und oane row hallo XD)
    2.  muasch du des no schön machen, is für an upload von am file als profilbild - upload geht schu
    3.  is der login ja potthässlich - schwarze schrift auf dunklem hintergrund - du kannsch des ja kaum lesen
    4.  du muasch schaugn, dass des mit dem css a mit da _Message view funktioniert!
    5.  du muasch de css no ändern, damit de profilbilder rund sein, befehl dafür wär:
        clip-path: circle();
*@
<div class="container">
    <div class="row hallo"></div>
    <div class="row" style="height: 50vh">
        <form asp-controller="user" asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">Upload File</button>
        </form>
        <a class="btn" asp-action="Logout" asp-controller="User">Logout</a>

    </div>

</div>

