
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="../css/login.css">

<div class="container">
    <div class="row hallo"></div>
    <div class="row" style="height: 50vh">
        <form asp-controller="user" asp-action="UploadFile" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">Upload File</button>
        </form>
        <a class="btn" asp-action="Logout" asp-controller="User">Logout</a>
    </div>
</div>

