@model FirstWebApp.Models.User

@{
    ViewData["Title"] = "Login";
}

<div style="height:100vh">
    <form asp-controller="user" asp-action="Home" method="post">
        <p>
            <label asp-for="Username"> Benutzername </label><br />
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </p>
        <p>
            <label asp-for="Password"> Password </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <label asp-for="Email"> Email </label><br />
            <input type="email" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <input type="submit" value="login" />
        </p>
        </p>
    </form>
    
    <form asp-controller="user" asp-action="login" method="post">
        <p>
            <label asp-for="Username"> Benutzername </label><br />
            <input type="text" asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </p>
        <p>
            <label asp-for="Password"> Password </label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </p>
        <p>
            <input type="submit" value="register" />
        </p>
    </form>
</div>
