body::-webkit-scrollbar {
    display: none;
}
footer {
    background: black;
    position: relative;
    color: #C1AEAD;
}

.primary-content {
    position: relative;
    width: 100%;
    min-width: 500px;
    height: 100vh;
    margin: 0;
}
.centering {
    height: 25vh;
}



 