body {
    background-image: url('../images/1.jpg');
    background-repeat: no-repeat;
}

body background-image{
    object-position: center;
    object-fit: cover;
}

body::-webkit-scrollbar {
    display: none;
}
footer {
    background-image: none;
    background: lightgray;
   ;
}

#container {
    min-width: 640px;
    margin: 0px auto;
}

content {
    width: 100%;
    min-width: 500px;
    height: 78vh;
    border-left: 1px solid #9a9191;
}

footer {
    position: absolute;
    right: 0;
    bottom: -350px;
    left: 0;
}
