#container{
    min-width: 640px; 
    margin: 0px auto; 
}

header {
    border-bottom: 1px solid #9a9191;
}

content {
    width: 80%;
    min-width: 500px;
    float: left;
    border-left: 1px solid #9a9191;
}

aside {
    width: 20%;
    min-width: 100px;
    float: right;
    border-left: 1px solid #9a9191;
}

footer ul li{
    display: inline; 
    padding-right: 350px;
}