<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anime_Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/homepage.css" />
    <link rel="stylesheet" href="~/css/header.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body onload = "startTimer()" >

    <div id="container">

        <header class="py-2 primary-header" style="color: black">
            <partial name="Header" />
        </header>

        <main id="fullscreen">
            <content class="primary-content">
                @RenderBody()
            </content>
        </main>

        <footer class="page-footer font-small mdb-color lighten-3 pt-4 ">
            <partial name="Footer" />
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
