<!-- Footer Links -->
<div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

            <!-- Content -->
            <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
            <p>
                Ihr könnt nun unseren Social-Media accounts folgen und nichts mehr verpassen falls ihr Fragen habt, wendet euch bitte
                an unsere Emailaddresse oder Telefonnummer.
            </p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

            <ul class="list-unstyled">
                <li>
                    <p>
                        <a href="#!">PROJECTS</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#!">ABOUT US</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#!">BLOG</a>
                    </p>
                </li>
                <li>
                    <p>
                        <a href="#!">AWARDS</a>
                    </p>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

            <!-- Contact details -->
            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

            <ul class="list-unstyled">
                <li>
                    <p>
                        <i class="fa fa-home mr-3"></i> Innsbruck, AT
                    </p>
                </li>
                <li>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> simogreiderer@tsn.at
                    </p>
                </li>
                <li>
                    <p>
                        <i class="fa fa-phone mr-3"></i> +43 677 630 64055
                    </p>
                </li>

            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

            <!-- Social buttons -->
            <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

            <!-- Facebook -->
            <p></p>
            <i class="fa fa-twitter"></i>
            <p></p>
            <!-- Twitter -->

            <i class="fa fa-facebook"></i>
            <p></p>
            <!-- Google +-->

            <i class="fa fa-google"></i>
            <p></p>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->
<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    © 2021 Copyright: AnimeList.com
</div>
<!-- Copyright -->
 