<ul>
    <li>
        <a href="/home/help"> Help </a>
    </li>
    <li>
        <a href="/home/aboutUs"> About Us </a>
    </li>
    <li>
        <a href="/home/discord"> Discord </a>
    </li>
</ul>