@using Microsoft.AspNetCore.Http;


<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-inverse fixed-top" id="id_header">
        <div class="container-fluid">
            <ul class="nav navbar-nav mx-auto primary-list justify-content-end">
                <li><a id="len1" class="hoverable" href="../Home/Index">Home</a></li>
                <li><a id="len2" class="hoverable" href="../Home/Discord">Research Anime</a></li>
                <li><a id="len3" class="hoverable" href="../Home/Schedule">Schedule</a></li>
                <li><a id="len4" class="hoverable" href="">About Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Context.Session.GetString("user") == null) {
                    <li><a id="len5" href="/User/Login"> <img src="~/images/profilpicture.png" width="80" height="60"></a></li>
                } else if (Anime_Website.Models.User.getUserFromJson(Context.Session.GetString("user")).Profilpicture.Equals("")) {
                    @Anime_Website.Models.User.getUserFromJson(Context.Session.GetString("user")).Username
                    <li><a id="len5" href="/User/Login"> <img src="~/images/profilpicture.png" height="60"></a></li>
                } else {
                    @Anime_Website.Models.User.getUserFromJson(Context.Session.GetString("user")).Username
                    <li><a id="len5" href="/User/Login"> <img src=@String.Format("data:image;base64,{0}", Anime_Website.Models.User.getUserFromJson(Context.Session.GetString("user")).Profilpicture) width="80" height="60"></a></li>
                }
            </ul>
        </div>
    </nav>
</div>  