<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-inverse " id="id_header">
        <div class="container-fluid">

            <ul class="nav navbar-nav mx-auto ">
                <li><a id="len1" class="hoverable" href="">Home</a></li>
                <li><a id="len2" class="hoverable" href="">Most Popular</a></li>
                <li><a id="len3" class="hoverable" href="">Schedule</a></li>
                <li><a id="len4" class="hoverable" href="">About Us</a></li>
            </ul>
        </div>
    </nav>

</div>